<!--<auction-navbar></auction-navbar>-->
Navbar
<div class="container">
    <div class="row">
        <div class="col-md-3">
            Search
            <!--<auction-search></auction-search>-->
        </div>

        <div class="col-md-9">
            <div class="row carousel-holder">
                <div class="col-md-12">
                    Carousel
                    <!--<auction-carousel></auction-carousel>-->
                </div>
            </div>
            <div class="row">
                Products will go here
            </div>
        </div>
    </div>
</div>